@model ZavrsniProjekat.Models.Category

@{
    Layout = null;
}

<h2>Edit</h2>

@using (Html.BeginForm("Edit", "Categories", FormMethod.Post, new { onsubmit = "return SubmitForm(this)" }))
{

    <div class="form-horizontal">
        <h4>Category</h4>
        <hr />

        @Html.HiddenFor(model => model.CategoryId)
        @Html.HiddenFor(model => model.Name)

        <div class="form-group">
            @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DisplayFor(model => model.Name, new { id = "name" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.Description, new { @class = "form-control", rows = "5", id = "description" })
                @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <input type="submit" value="Save" class="btn btn-success" />
            <input type="reset" value="Reset" class="btn" />
        </div>
    </div>
}
@section Scripts{
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/bootstrap")
}

